$body-background: #fffbe6;
$textarea-background: #ffffff;

$key-background: #d1d1d1;
$key-dark-background: #a1a1a1;

$keyboard-background: #5d5d5d;
$key-active-background: #f7ddaa;

$key-color: #242424;
